In [1]:
# Reference: https://medium.com/radon-dev/item-item-collaborative-filtering-with-binary-or-unary-data-e8f0b465b2c3

import numpy as np
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

dtypes={
    'request': str
}
data = pd.read_csv('user_activity_raw.csv')

/Users/celena/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (4,5,6,7,8,15,16,18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
data.columns

Index(['request', 'user_id', 'created_at', 'max_retries', 'document_id', 'id',
       'file_id', 'client_updated_at', 'error', 'google_error', 'page',
       'per_page', 'q', 'alert_for', 'alert_type', 'comment', 'date',
       'user_id.1', 'doc_type', 'group_id', 'text', 'directory_user_id'],
      dtype='object')

In [9]:
user_doc_interaction = data.dropna(subset=['document_id'])

In [10]:
user_doc_interaction['request'].unique()

array(['shares#create', 'comments#index', 'comments#create',
       'likes#toggle', 'likes#index'], dtype=object)

In [11]:
user_doc_interaction = user_doc_interaction.iloc[:,0:5].drop(columns=['request', 'created_at', 'max_retries'])
user_doc_interaction.head()

       user_id                           document_id
8666         2  19900145-8aee-4fec-9352-bf1f294e6ef0
10021        3  5dd2d65b-3f87-45cf-a517-6a18af7393e6
10022        3  5dd2d65b-3f87-45cf-a517-6a18af7393e6
10024        3  31155858-4856-425a-9d33-ec1bfe1bef87
10025        3  31155858-4856-425a-9d33-ec1bfe1bef87

In [15]:
grouped_by_id = user_doc_interaction.groupby(['user_id'])
grouped_by_id.head()

        user_id                           document_id
8666          2  19900145-8aee-4fec-9352-bf1f294e6ef0
10021         3  5dd2d65b-3f87-45cf-a517-6a18af7393e6
10022         3  5dd2d65b-3f87-45cf-a517-6a18af7393e6
10024         3  31155858-4856-425a-9d33-ec1bfe1bef87
10025         3  31155858-4856-425a-9d33-ec1bfe1bef87
10083         3  87122f87-99fe-473e-8547-f6b5ca1892c1
48046        10                                336940
48047        10                                336940
48792        10                                320143
49141        10                                358007
49182        10                                358007
50438        13  52bf6810-f91d-4e1e-9631-4d7a64432e37
50439        13  52bf6810-f91d-4e1e-9631-4d7a64432e37
50613        13                                361935
51956        13                                333602
51958        13                                 47171
122718       21                                311471
122719       21                                311471
122962       21                                346024
122963       21                                346024
123282       21                                 38603
150771       26                                357877
150772       26                                357877
150774       26                                357986
150775       26                                357986
150777       26                                357694
160723       29                                320689
160724       29                                320689
160728       29                                333275
160729       29                                333275
...         ...                                   ...
298712       47                                315176
298980       47                                314773
298982       47                                314773
299031       47                                336727
306030       48  286cc601-2e95-40ce-9363-d7bd864a44c7
318897       49                                319761
318898       49                                319761
320361       50                                319307
320362       50                                319307
320366       50                                319307
320367       50                                319307
320439       50                                315176
330621       52                                338742
330622       52                                338742
330625       52                                347074
330626       52                                347074
330629       52                                333011
425966       64                                313186
425967       64                                313187
425968       64                                309497
426095       64                                313187
426097       64                                313186
443774       66                                318966
443776       66                                318966
488082       72                                365238
515876       78                                425184
515877       78                                425184
515879       78                                338762
515880       78                                338762
515883       78                                 89038

[104 rows x 2 columns]